@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,latin-ext,greek,greek-ext);

* {
	font-family: 'Ubuntu Mono';
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #999;
}

.card {
	width: 31%;
	margin: 1%;
	float: left;
}

.linkitem {
	cursor: pointer;
}